@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
<div>
<h2>Costs when buying</h2>

<p>If you decide to get access to an already existing platform that operates in the SaaS (Software as a Service) model, you have to pay a <strong>monthly or annual fee</strong>. Typically, this is the only cost if you settle for an external service.</p>
</div>

<div>
<h2>Costs when building</h2>

<p>The situation is a bit more complicated if you decide to build your own software. First of all, you need to estimate the one-time cost to build. You can calculate it according to the following formula:</p>

<p><code>cost to build = N * T * CE</code></p>

<p>where:</p>

<ul>
 <li><strong>N</strong> is the number of developers on the team;</li>
 <li><strong>T</strong> is the time that team needs to build this software;</li>
 <li><strong>CE</strong> is the cost per employee. It is usually calculated as</li>
</ul>

<p><code>CE = SE * (1 + OV)</code></p>

<p>where</p>

<ul>
 <li><strong>SE</strong> is the monthly gross salary per employee, and</li>
 <li><strong>OV</strong> are the overhead costs (e.g., insurances), expressed as a percentage of the gross salary.</li>
</ul>

<p>If you only know the hourly salary of your employee, you can use this <a class="js-link" href="/finance/hourly-to-salary">hourly to salary calculator</a>.</p>

<p>Apart from the one-time cost, any software that is built internally requires some maintenance. Every once in a while, one (or more) of your employees will devote their time and effort towards the product they&#39;ve built. You can find the annual costs of maintenance according to the formula below:</p>

<p><code>maintenance costs = D * CE * 12 / 5</code></p>

<p>where</p>

<ul>
 <li><strong>D</strong> is the number of days per month that one of your employees will spend on maintenance,</li>
 <li><strong>CE</strong> is the cost per employee,</li>
 <li><strong>12</strong> stands for the number of months in a year, and</li>
 <li><strong>5</strong> is the number of working days in a week.</li>
</ul>
</div>
<div><h2 id="should-i-build-or-buy">Should I build or buy?</h2>
<p>Building your own software is a form of <a class="js-link" href="/finance/roi">investment</a>. Instead of having a recurring cost of a license, you have to invest a large sum at the beginning. It means that, if you only planned to use the software once, it wouldn't make any sense to build it. The benefits only appear with time - the longer you use your own product, the less you pay in total.</p>
<p>At some point, you will reach <a class="js-link" href="/finance/break-even">break-even</a>. It means that the total costs of building and maintaining your own software are lower than the total costs of a license. You can find the break-even point with the equation below:</p>
<p><code>break even = cost to build / (license fee - maintenance cost)</code></p>
<p>If you're going to reach the break-even in under three years, it's profitable to build the software tool, as it will most probably turn out to be a good investment in the long run. The later the break-even occurs, the higher the probability that you will switch to some other product, or maybe not need it anymore.</p></div>
